# Temporary files
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# IDE files
/.idea
*.iml
/.vscode
/.cursorignore
/.cursorrules

# LLM files
/.claude

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
app.*.symbols
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release